{% extends "layout_account.html" %}


{% block pageTitle %}
Drive in a Clean Air Zone
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Account home</h1>
        <p>This service works by you telling us the number of days your vehicles drive in a Clean Air Zone. 
            The number plates determine if the vehicles meet emissions standards in a zone. If they don't, you can see what the charges are and pay them.
        </p>
    </div>
</div>
<h2 class="govuk-heading-m">Vehicle management</h2>
<div class="govuk-grid-row">
    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a
                    href="#">
                    Manage vehicles and view charges
                </a></strong></p>
        <p class="govuk-body">Upload your number plates via spreadsheet or one-by-one.</p>
    </article>

    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a
                    href="/fleets/single-user-update/add-group">
                    Manage vehicle groupings
                </a></strong></p>
        <p class="govuk-body">Create groups of your vehicle list.</p>
    </article>
    </div>

    <h2 class="govuk-heading-m">Payments</h2>

    <div class="govuk-grid-row">
    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a
                    href="#">
                    Set up Direct Debit
                </a></strong></p>
        <p class="govuk-body">Instruct your bank to take one-off payments by Direct Debit.</p>
    </article>
    
    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a
                    href="#">Make a payment</a></strong></p>
        <p class="govuk-body">Pay Clean Air Zone charges for your vehicles.</p>
    </article>

    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a
                    href="#">Saved payments</a></strong></p>
        <p class="govuk-body">View your saved payments.</p>
    </article>
 <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a
                    href="#">
                Payment history
                </a></strong></p>
        <p class="govuk-body">View payments made by you.</p>
    </article>    

    </div>

    <h2 class="govuk-heading-m">Account</h2>
    <div class="govuk-grid-row">
 


    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a
                    href="#">
                    Manage users
                </a></strong></p>
        <p class="govuk-body">Add and remove users or change their permissions.</p>
    </article>

    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a
                    href="#">
                    Help
                </a></strong></p>
        <p class="govuk-body">View maps, see when the zones are live, find out about exemptions and contact us.</p>
    </article>

    
    
    

</div>

{% endblock %}