{% extends "layout_account.html" %}


{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Update password</h1>
        <form method="POST" class="form" action="/fleets/single-user/update-account-information/my-company-account-password-update">
        <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Old password
            </label>
            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="password"><br><br>
            <label class="govuk-label" for="width-20">
                New password
              </label>
              <span id="passport-issued-hint" class="govuk-hint">
                Must be at least 8 characters long, include at least one upper case letter and a number
              </span>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="password"><br><br>
              <label class="govuk-label" for="width-20">
                Confirm new password
              </label>
              <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="password">
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save changes
          </button>
          <p><a href="my-company-account">Exit without saving</a></p></form>

        
       
    </div>



</div>

{% endblock %}