<table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Vehicle registration</td>
            <th class="govuk-table__cell" style="text-transform: uppercase">{{ data['vrn'] }}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Vehicle type approval</td>
            <th class="govuk-table__cell">N1</td>
          </tr>
          <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">CAZ vehicle type</td>
              <th class="govuk-table__cell">Van</td>
            </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Make</td>
            <th class="govuk-table__cell">Ford</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Model</td>
            <th class="govuk-table__cell">Transit</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Colour</td>
            <th class="govuk-table__cell">White</th>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">Fuel type</td>
            <th class="govuk-table__cell">Diesel</th>
          </tr>
        </tbody>
      </table>