{% extends "layout_offline_payments.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Charge explanation for BT02VYL</h1>
        <h2 class="govuk-heading-m">Exemptions status: Not exempt</h2>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why?
                </span>
            </summary>
            <div class="govuk-details__text">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Category</th>
                            <td class="govuk-table__header govuk-!-width-one-half">Exempt</td>
                            <td class="govuk-table__header govuk-!-width-one-half">Reason</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Part of MOD?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">No</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">-</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Exempted fuel type?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">No</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Petrol</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Exempted tax class?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">No</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Car</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Exempted type approval?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">No</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">M1</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">GPW exempt?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">No</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        <h2 class="govuk-heading-m">Vehicle identification: Car</h2>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why?
                </span>
            </summary>
            <div class="govuk-details__text">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Category</th>
                            <td class="govuk-table__header govuk-!-width-one-half">Data</td>
                            <td class="govuk-table__header govuk-!-width-one-half">Result</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Type approval</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Null</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires tax class check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Tax class</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Mine rescue</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires body type check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Body type</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Private car</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Vehicle identification is car</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        <h2 class="govuk-heading-m">Compliance status: Not compliant</h2>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why?
                </span>
            </summary>
            <div class="govuk-details__text">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Category</th>
                            <td class="govuk-table__header govuk-!-width-one-half">Data</td>
                            <td class="govuk-table__header govuk-!-width-one-half">Result</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">GPW compliant?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">No</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires retrofit check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Retrofit?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">No</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires euro status check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Euro status</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Null</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires vehicle type compliance check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Vehicle type</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Car</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires petrol group check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Petrol group</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Petrol</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires gross vehicle weight check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Gross vehicle weight</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">3.1T (>2.5T)</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires DOFR check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">DOFR</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">2006.02.01 (Pre 2007.01.01)</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Not compliant</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        <h2 class="govuk-heading-m">Birmingham charge: £8</h2>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why?
                </span>
            </summary>
            <div class="govuk-details__text">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Category</th>
                            <td class="govuk-table__header govuk-!-width-one-half">Data</td>
                            <td class="govuk-table__header govuk-!-width-one-half">Result</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Compliance</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Not compliant</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires tariff class check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Vehicle type charged in Class D?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Yes (Car)</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires tax class check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Tax class</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Mine rescue (Not disabled)</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Charged in Birmingham</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Vehicle type</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Car</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">£8 charge</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        <h2 class="govuk-heading-m">Leeds charge: No charge</h2>
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why?
                </span>
            </summary>
            <div class="govuk-details__text">
                <table class="govuk-table">
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Category</th>
                            <td class="govuk-table__header govuk-!-width-one-half">Data</td>
                            <td class="govuk-table__header govuk-!-width-one-half">Result</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Compliance</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">Not compliant</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">Requires tariff class check</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__header govuk-!-width-one-half">Vehicle type charged in Class B?</th>
                            <td class="govuk-table__cell govuk-!-width-one-half">No (Car)</td>
                            <td class="govuk-table__cell govuk-!-width-one-half">No charge in Leeds</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </details>
        


    </div>
</div>

{% endblock %}