{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}


{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Birmingham
        </h1>

        <p>Vehicle registration <strong>ABC123</strong>.</p>
        <p>Birmingham's Clean Air Zone is now charging vehicles which do not meet the emission standards.</p>
        <p>The vehicle is subject to a daily charge of <strong>£8.00</strong>.</p>
        <p>This vehicle does not meet the emission standards in Birmingham.</p>
        <p>If your vehicle is subject to a charge you may still be eligible for an exemption or discount, <a
                href="">find out if you qualify in Birmingham</a>.</p>
        <p>The zone will operate 24 hours a day, 7 days a week, every day of the year.</p>

        <h2 class="govuk-heading-m">Clean Air Zone boundary</h2>

        <img src="\public\images\BirminghamMap.png">

        <h2 class="govuk-heading-m">What you can do</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                <a target="_blank" class="govuk-link"
                    href="https://www.brumbreathes.co.uk/info/6/upgrading-car/5/upgrading-car-1">Get support to upgrade
                    or replace your vehicle in Birmingham</a>
            </li>
            <li>
                <a target="_blank" class="govuk-link"
                    href="https://www.brumbreathes.co.uk/info/15/drive-work-clean-air-zone-1/9/drive-work-clean-air-zone/4">Explore
                    cycling and public transport options in Birmingham</a>
            </li>
        </ul>
        <div>
            
            <h2 class="govuk-heading-m">Make your next car electric</h2>
            
            <p><img src="\public\images\GoUltraLow.png" style="float:left; margin-right:10px">Fully electric vehicles could cost from as little as 2p per mile to run - less than a quarter of the cost
                of the most fuel-efficient petrol or diesel vehicles. Make your next car electric. 
                <a href="https://www.goultralow.com/ev-owners/benefits/" target="_blank">Click to find out how much you
                    could save</a>.</p>
        </div>




    </div>
</div>



{% endblock %}