{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}


{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

{%- from "govuk/components/table/macro.njk" import govukTable -%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Clean Air Zone charge
        </h1>
        <p>Vehicle registration ABC123.</p>
        <p>Your vehicle does not meet emission standards and may be subject to charge depending on the category of Clean
            Air Zone.</p>
        <h2 class="govuk-heading-m">Active Clean Air Zones</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Birmingham
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-1">
                    <p class='govuk-body'>This vehicle is subject to a daily charge of <strong>£8.00</strong>.</p>
                    <p class='govuk-body'>This vehicle does not meet the emission standards in Birmingham.</p>
                    <p>If your vehicle is subject to a charge you may still be eligible for an exemption or discount,
                        <a target="_blank" class="govuk-link"
                            href="https://www.brumbreathes.co.uk/exemptions-and-additional-support">find out if you
                            qualify in Birmingham</a>.
                    </p>
                    <p>The zone will operate 24 hours a day, 7 days a week, every day of the year.</p>
                    <h3 class="govuk-heading-s">What you can do</h3>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                            <a target="_blank" class="govuk-link"
                                href="https://www.brumbreathes.co.uk/info/6/upgrading-car/5/upgrading-car-1">Get support
                                to upgrade or replace your vehicle in Birmingham</a>
                        </li>
                        <li>
                            <a target="_blank" class="govuk-link"
                                href="https://www.brumbreathes.co.uk/info/15/drive-work-clean-air-zone-1/9/drive-work-clean-air-zone/4">Explore
                                cycling and public transport options in Birmingham</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                            Leeds
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-2" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-2">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
        </div>
        <h2 class="govuk-heading-m">Future Clean Air Zones</h2>
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                            Bath & N E Somerset
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-3" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-3">
                    <p>Vehicle registration <strong>ABC123</strong>.</p>
                    <p>Bath and N E Somerset's Clean Air Zone will be charging vehicles that do not meet its emission
                        standards from <strong>Nov 2020</strong>.</p>
                    <p>The vehicle is subject to a daily charge of <strong>£7.50</strong>.</p>
                    <p>This vehicle does not meet the emission standards in Birmingham.</p>
                    <p>If your vehicle is subject to a charge you may still be eligible for an exemption or discount, <a
                            href="">find out if you qualify in Bath and N E Somerset</a>.</p>
                    <p>The zone will operate 24 hours a day, 7 days a week, every day of the year.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Bradford
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p>Vehicle registration <strong>ABC123</strong>.</p>
                    <p>Bradfords Somerset's Clean Air Zone will be charging vehicles that do not meet its emission
                        standards from <strong>2021</strong>.</p>
                    <p>The vehicle is not subject to a daily charge.</p>
                    <p>This vehicle meets the emission standards set out in Bradford.</p>
                    <p>The zone will operate 24 hours a day, 7 days a week, every day of the year.</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Bristol
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Broxbourne
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Coventry
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Greater Manchester
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Leicester
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Liverpool
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Newcastle
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Portsmouth
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Sheffield
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                            Stoke
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content"
                    aria-labelledby="accordion-default-heading-4">
                    <p class='govuk-body'>CAZ content</p>
                </div>
            </div>
        </div>
    </div>



    {% endblock %}