{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}


{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

{%- from "govuk/components/table/macro.njk" import govukTable -%}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Clean Air Zone charge
        </h1>
        <div style="border-color:#0b0c0c" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              Important information about vehicle data
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  The data accuracy of this service is always improving. It is recommended you recheck your vehicle shortly before you intend to drive in any Clean Air Zones.
                </li>
              </ul>
            </div>
          </div>
        <p>Results for number plate <strong>ABC123</strong>.</p>
        <table class="govuk-table">

            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" aria-sort="ascending">Clean Air Zone</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Daily charge</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Charging starts</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Map</th>
                    <th scope="col" class="govuk-table__header" aria-sort="none">Further information</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Bath</td>
                    <td class="govuk-table__cell">£9.00</td>
                    <td class="govuk-table__cell">Early 2021</td>
                    <td class="govuk-table__cell"><a href="https://www.bathnes.gov.uk/bath-breathes-2021-overview/the-zone-boundary" target="_blank">Zone boundary</a></td>
                    <td class="govuk-table__cell"><a href="https://www.bathnes.gov.uk/bath-breathes-2021-overview" target="_blank">Bath & NE Somerset</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Birmingham</td>
                    <td class="govuk-table__cell">£8.00</td>
                    <td class="govuk-table__cell">Early 2021</td>
                    <td class="govuk-table__cell"><a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham/2" target="_blank">Zone boundary</a></td>
                    <td class="govuk-table__cell"><a href="https://www.brumbreathes.co.uk/" target="_blank">Birmingham City Council</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Leeds</td>
                    <td class="govuk-table__cell">£12.50</td>
                    <td class="govuk-table__cell">Early 2021</td>
                    <td class="govuk-table__cell"><a href="https://leedscc.maps.arcgis.com/apps/webappviewer/index.html?id=fd8765f4fa614c64808e32a15ed5ee71" target="_blank">Zone boundary</a></td>
                    <td class="govuk-table__cell"><a href="https://www.leeds.gov.uk/business/environmental-health-for-business/air-quality" target="_blank">Leeds City Council</a></td>
                </tr>
            </tbody>
        </table>
        <p>You do not need to pay until charging starts when the zones are live.</p>
        <p>The zones will operate 24 hours a day, 7 days a week, every day of the year.</p>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How we calculate your charge
              </span>
            </summary>
            <div class="govuk-details__text">
              We use this information when calculating your charge:
              <br><br>
              <ul class="govuk-list govuk-list--bullet">
                <li>vehicle type</li>
                <li>emission standards</li>
                <li>Clean Air Zone (CAZ)</li>
            </ul>
            For example:<br>
            A private car (Euro 4) in Birmingham (<a href="https://www.gov.uk/guidance/driving-in-a-clean-air-zone#types-of-clean-air-zones">CAZ D</a>) = £8.00<br>
            A private car (Euro 4) in Leeds (<a href="https://www.gov.uk/guidance/driving-in-a-clean-air-zone#types-of-clean-air-zones">CAZ C</a>) = £0.00 (No Charge)<br><br>
            There are <a href="https://www.gov.uk/guidance/driving-in-a-clean-air-zone#types-of-clean-air-zones" target="_blank">4 categories</a> of Clean Air Zone; each one charges different types of vehicle. For example, Birmingham charges private cars (CAZ D) but Leeds does not (CAZ B).
            </div>
          </details>  


        <h2 class="govuk-heading-m">Exemptions, refunds and alternatives to driving</h2>
        <p>Contact the local authority of the Clean Air Zone you want to drive in for further information on:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>exemptions</li>
            <li>refunds</li>
            <li>support to upgrade or replace your vehicle</li>
            <li>cycling and public transport options</li>
        </ul>

        <div><img src="\public\images\bc-message-1-left.png" width="600"> </div>

        <br>

        <div>
            <h2 class="govuk-heading-m">Make your next car electric</h2>
            <p><img src="\public\images\GoUltraLow.png" style="float:left; margin-right:10px">Fully electric vehicles could cost from as little as 2p per mile to run - less than a quarter of the cost
                of the most fuel-efficient petrol or diesel vehicles. Make your next car electric. 
                <a href="https://www.goultralow.com/ev-owners/benefits/" target="_blank">Click to find out how much you
                    could save</a>.</p>
        </div>


        
        
    </div>
    <div class="govuk-grid-column-one-third">

            <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
    
            <aside class="app-related-items" role="complementary">
                <h2 class="govuk-heading-m" id="subsection-title">
                    Related tasks
                </h2>
                <nav role="navigation" aria-labelledby="subsection-title">
                    <ul class="govuk-list govuk-!-font-size-16">
                        <li>
                            <a class="govuk-link" href="enter-vehicle-details">
                                Check another vehicle
                            </a>
                        </li>
                        <li>
                            <a class="govuk-link" href="">
                                Contact Clean Air Zones
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
    
        </div>
</div>



{% endblock %}

{% block pageScripts %}

<script>
    new MOJFrontend.SortableTable({
        table: [
            $('table')[0]
        ]
    });
</script>
{% endblock %}