{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            What do you have a question about?
        </h1>

        <form method="post" class="form" action="/vccs/contact">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                        <div class="govuk-radios govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact" name="contact"
                                    type="radio" value="charges">
                                <label class="govuk-label govuk-radios__label" for="contact-1">
                                    Charges
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact" name="contact"
                                    type="radio" value="london">
                                <label class="govuk-label govuk-radios__label" for="contact-2">
                                    Driving in London
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact" name="contact"
                                    type="radio" value="exemptions">
                                <label class="govuk-label govuk-radios__label" for="contact-2">
                                    Exemptions
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact" name="contact"
                                    type="radio" value="data">
                                <label class="govuk-label govuk-radios__label" for="contact-2">
                                    Vehicle data
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="contact" name="contact"
                                    type="radio" value="other">
                                <label class="govuk-label govuk-radios__label" for="contact-2">
                                    Other
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="govuk-button" data-module="govuk-button">
                    Continue
                  </button>
        </form>

    </div>
</div>

{% endblock %}