{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Drive in a Clean Air Zone
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        

        <h1 class="govuk-heading-l">Upload a list of vehicles</h1>
        <p>To add vehicles to this account, you can either use your own spreadsheet or <a href="\public\images\docs\VehicleUploadTemplate.csv">download a template (CSV, 1KB).</a></p>
        <p>When filling in the number plates follow these rules so the data uploads correctly:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the number plates can only be between 2 and 7 characters</li>
            <li>only letters and numbers are allowed</li>
            <li>number plates need to be entered in the first column only, leave cell A1 blank</li>
            <li>there should be no empty rows between the number plates</li>
            <li>the maximum amount of vehicles you can upload is 200,000</li>
          </ul>

          <p>Once the file is filled in:</p>
          <ol class="govuk-list govuk-list--number">
            <li>Save it as .CSV - the name of the file does not matter (Go to file > save as > .CSV (comma delimited)).</li>
            <li>Choose the file.</li>
            <li>Upload the file.</li>
          </ol>

        
        <form method="POST" class="form" action="/fleets/single-user/local-exemption">
                <div class="govuk-form-group">
                    <input class="govuk-file-upload govuk-file-upload" id="file-upload-1" name="file-upload-1"
                        type="file" aria-describedby="file-upload-1">
                </div>

                <br>

                {% if data['rtn'] %}
                <input type="hidden" name="rtn" value="true">
                {% endif %}

                <button type="submit" class="govuk-button" name="registered" value="true">
                    Upload file
                </button>
        </form>

    </div>
</div>

{% endblock %}