{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Which vehicles and days are you paying for?</h1>
        <p>A daily charge runs from midnight to midnight.</p>
        <form method="post" class="form" action="/fleets/single-user/confirm-charge">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-tabs" data-module="govuk-tabs">
                        <h2 class="govuk-tabs__title">
                            Contents
                        </h2>
                        <ul class="govuk-tabs__list">
                            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                <a class="govuk-tabs__tab" href="#past-day">
                                    Previous 6 days
                                </a>
                            </li>
                            <li class="govuk-tabs__list-item">
                                <a class="govuk-tabs__tab" href="#past-week">
                                    Next 7 days
                                </a>
                            </li>
                        </ul>
                        <section class="govuk-tabs__panel" id="past-day">
                            <h2 class="govuk-heading-l">Previous 6 days</h2>
                            <p>Select all boxes that apply to the journeys you have made.</p>
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Registration</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('subtract', 6, 'days') | date("ddd D") }}<br>{{date | date('subtract', 6, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('subtract', 5, 'days') | date("ddd D") }}<br>{{date | date('subtract', 5, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('subtract', 4, 'days') | date("ddd D") }}<br>{{date | date('subtract', 4, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('subtract', 3, 'days') | date("ddd D") }}<br>{{date | date('subtract', 3, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('subtract', 2, 'days') | date("ddd D") }}<br>{{date | date('subtract', 2, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('subtract', 1, 'days') | date("ddd D") }}<br>{{date | date('subtract', 1, 'days') | date("MMM") }}</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for vrn in ["AB12CDE","AF03WMY","BT02VYL","JO51WQE","M15JIK","M56FGF","MH75BJH","P057BOX","R66PPR","WL08JTZ"] %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">{{vrn}}</td>
                                        {% for i in range(6) %}
                                        <td class="govuk-table__cell">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="select" name="select"
                                                    type="checkbox" value="select">
                                                <label class="govuk-label govuk-checkboxes__label" for="select">
                                                </label>
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </section>
                        <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                            <h2 class="govuk-heading-l">Next 7 days</h2>
                            <p>Select all boxes that apply to the journeys you will make.</p>
                            <table class="govuk-table">
                                <thead class="govuk-table__head"> 
                                    <tr class="govuk-table__row">
                                        <th scope="col" class="govuk-table__header">Registration</th>
                                        <th scope="col" class="govuk-table__header">{{date | date("ddd D") }}<br>{{date | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('add', 1, 'days') | date("ddd D") }}<br>{{date | date('add', 1, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('add', 2, 'days') | date("ddd D") }}<br>{{date | date('add', 2, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('add', 3, 'days') | date("ddd D") }}<br>{{date | date('add', 3, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('add', 4, 'days') | date("ddd D") }}<br>{{date | date('add', 4, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('add', 5, 'days') | date("ddd D") }}<br>{{date | date('add', 5, 'days') | date("MMM") }}</th>
                                        <th scope="col" class="govuk-table__header">{{date | date('add', 6, 'days') | date("ddd D") }}<br>{{date | date('add', 6, 'days') | date("MMM") }}</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    {% for vrn in ["AB12CDE","AF03WMY","BT02VYL","JO51WQE","M15JIK","M56FGF","MH75BJH","P057BOX","R66PPR","WL08JTZ"] %}
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">{{vrn}}</td>
                                        {% for i in range(7) %}
                                        <td class="govuk-table__cell">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="select" name="select"
                                                    type="checkbox" value="select">
                                                <label class="govuk-label govuk-checkboxes__label" for="select">
                                                </label>
                                            </div>
                                        </td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </section>
                    </div>

                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}