
{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Drive in a Clean Air Zone
{% endblock %}

{% block content %}   

{%- from "govuk/components/table/macro.njk" import govukTable -%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Preparing your payment history</h1>

    <p>We are processing your file and will email you a link to download the results (CSV).</p>
    <p>This can take some time depending on the size of your payment history. Any payments made on the account after this request will not be included.</p>

    <p><a href="/fleets/single-user/history-filter-column">Return to payment history</a></p>
    <p><a href="/fleets/single-user/history-email">Click here for demo purposes</a></p>
   


{% endblock %}
{% block pageScripts %}


{% endblock %}