{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        

        <h1 class="govuk-heading-l">Local vehicle exemptions</h1>
        <p>Certain vehicles still qualify for an exemption despite not meeting emission standards. This could be because the owner is resident or works in the zone.</p>
        <p>It is your responsibility to check if you qualify for one with the local authority of the Clean Air Zone you are driving.</p>
        
        
        <form method="POST" class="form" action="fleets-confirmation">
                    <button type="submit" class="govuk-button" name="registered" value="true">
                    Continue
                </button>
        </form>

    </div>
</div>

{% endblock %}