{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">No chargeable vehicles in the Birmingham Clean Air Zone</h1>
        <p>None of your vehicles will be charged in the Birmingham Clean Air Zone. They may still be charged in other Clean Air Zones.</p>
        <p><a href="">Check your fleet</a> to see where your vehicles will be charged.</p>
        <p><a href="">Pay for another Clean Air Zone</a></p>
      

    </div>
</div>

{% endblock %}