
{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Drive in a Clean Air Zone
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Choose which zone to set up a bank mandate with</h1>
    <form method="post" class="form" action="/fleets/single-user/go-cardless">
      <p>What you need to know before setting up a mandate:</p> 
      <ul class="govuk-list govuk-list--bullet">
        <li>you need to set up a mandate with each zone</li>
        <li>paying by Direct Debit means you make single, one-off payments - they are not recurring payments</li>
        <li>whoever makes the payment will be emailed a receipt</li>
        <li>the creator of the mandate will also receive an email every time a Direct Debit payment is made to let them know when money will be taken from the bank account</li>
      </ul>
      <p>Zones you haven't set up a Direct Debit with and where the local authority supports this type of payment will appear here.</p>
      <div class="govuk-form-group">
        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="cazHint">
          <div class="govuk-radios">
             <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="caz-3" name="caz" type="radio" value="Bath">
              <label class="govuk-label govuk-radios__label" for="caz-3">
                Bath
              </label>
            </div>
           
          </div>
        </fieldset>
      </div>
      <br>
      <br>
      <button type="submit" class="govuk-button">
          Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
