
{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Drive in a Clean Air Zone
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Set up an agreement to pay by bank account</h1>
    <form method="post" class="form" action="/fleets/single-user/go-cardless">
      <p>What you need to know before setting up:</p> 
      <ul class="govuk-list govuk-list--bullet">
        <li>you need to set up a mandate with each zone</li>
        <li>paying this way means you need to authorise a payment every time you want to pay a charge - the money will not automatically come out of your account</li>
        <li>we'll send a receipt by email to whoever makes the payment</li>
        <li> we'll also send an email to whoever sets up the agreement when a payment is made. To let them know money is leaving the bank account</li>
      </ul>
      <p>Zones you haven't set up an agreement with and where the local authority supports this type of payment will appear here.</p>
      <div class="govuk-form-group">
        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="cazHint">
          <div class="govuk-radios">
             <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="caz-3" name="caz" type="radio" value="Bath">
              <label class="govuk-label govuk-radios__label" for="caz-3">
                Bath
              </label>
            </div>
           
          </div>
        </fieldset>
      </div>
      <br>
      <br>
      <button type="submit" class="govuk-button">
          Continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
