
{% extends "layout_account.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Bank mandates</h1>
    <p>You need to make single payments each time you want to pay by Direct Debit.</p>
    <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with changing or cancelling a direct debit
          </span>
        </summary>
        <div class="govuk-details__text">
         <p> To cancel a Direct Debit you need to contact your bank.</p>
         <p>To change the details of a Direct Debit you need to cancel the Direct Debit and set up another one with the new details.</p>
        </div>
      </details>
    <form method="post" class="form" action="#">
        <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">CAZ</th>
                <th scope="col" class="govuk-table__header">Mandate ID</th>
                <th scope="col" class="govuk-table__header">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header" style="text-transform: capitalize">Bath</th>
                <td class="govuk-table__cell">xngajgdlfkrvmbrz7y2hka9</td>
                <td class="govuk-table__cell">Pending</td>
              </tr>
            </tbody>
          </table>
          <p><strong>Pending</strong> - It takes 3 working days for your payment to go through the first time you set up a Direct Debit.</p>
          <p><strong>Active</strong> - Once set up it will take 2 days each time you pay.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>payments will appear on bank statements as Drive in a Clean Air Zone</li>
            <li>whoever makes the payment will be emailed a receipt</li>
            <li>the creator of the mandate will also receive an email every time a Direct Debit payment is made to let them know when money will be taken from the bank account</li>
          </ul>
        <button type="submit" class="govuk-button">
            Set up new direct debit
        </button>
      <p><a href="/fleets/single-user/fleet-account">Return to dashboard</a></p>
    </form>

  </div>
</div>

{% endblock %}
