{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Payment history for CAS300</h1>


       <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date paid for</th>
            <th scope="col" class="govuk-table__header">User ID</th>
            <th scope="col" class="govuk-table__header">Clean Air Zone</th>
            <th scope="col" class="govuk-table__header">Payment reference</th>
            <th scope="col" class="govuk-table__header">Date of payment</th>
            <th scope="col" class="govuk-table__header">Payment status</th>
            <th scope="col" class="govuk-table__header">Payment details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">09/07/2020</th>
            <td class="govuk-table__cell">example@dvla.gov.uk</td>      
            <td class="govuk-table__cell">Leeds</td>
            <td class="govuk-table__cell">XYZ123ABC</td>
            <td class="govuk-table__cell">09/07/2020 13:54:01</td>
            <td class="govuk-table__cell">Started</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">08/07/2020</th>
            <td class="govuk-table__cell">example@dvla.gov.uk</td>      
            <td class="govuk-table__cell">Leeds</td>
            <td class="govuk-table__cell">XYZ123ABC</td>
            <td class="govuk-table__cell">09/07/2020 13:54:01</td>
            <td class="govuk-table__cell">Started</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">06/07/2020</th>
            <td class="govuk-table__cell">example@dvla.gov.uk</td>      
            <td class="govuk-table__cell">Leeds</td>
            <td class="govuk-table__cell">AMQ544THR</td>
            <td class="govuk-table__cell">08/07/2020 10:04:54</td>
            <td class="govuk-table__cell">Success</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">03/07/2020</th>
            <td class="govuk-table__cell"></td>      
            <td class="govuk-table__cell">Birmingham</td>
            <td class="govuk-table__cell">KMF358FFR</td>
            <td class="govuk-table__cell">05/07/2020 16:30:20</td>
            <td class="govuk-table__cell">Failed</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">02/07/2020</th>
            <td class="govuk-table__cell"></td>      
            <td class="govuk-table__cell">Birmingham</td>
            <td class="govuk-table__cell">KMF358FFR</td>
            <td class="govuk-table__cell">05/07/2020 16:30:20</td>
            <td class="govuk-table__cell">Failed</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
          </tr>
        </tbody>
      </table>


    </div>
</div>

{% endblock %}
