{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Driving in a clean air zone
        </h1>

        <p>Guidance</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="overview.html">Clean Air Zones</a>
                </li>
                <li>
                    <a class="govuk-link" href="exemptions.html">
                        Exemptions
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="types.html">
                        Types of clean air zones
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="standards.html">
                        Minimum emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="reduce.html">
                        Reducing your emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="contact.html">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <p>Services</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                        Check if you will be charged
                </li>
                <li>
                    <a class="govuk-link" href="pay.html">
                        Pay a charge for a single vehicle
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="accounts.html">
                        Accounts for multiple vehicles
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"> <br>
        <h2 class="govuk-heading-m">Check if you will be charged</h2>
        <p>You can check if you’ll need to pay a charge before you drive in a clear air zone.</p>
        <p>You’ll need:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the registration details (number plate) of the vehicle</li>
            <li>which city or town you’re driving the vehicle in</li>
        </ul>
        <a href="https://vehiclecheck.drive-clean-air-zone.service.gov.uk/vehicle_checkers/enter_details" role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
            data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>

    </div>
    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality: clean air zone framework for England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Civil parking enforcement in England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            The Civil Enforcement of Parking Regulations (England)
                            General (Use of Approved Devices Amendment) Regulations 2015 (draft)
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Parking on private land
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>

</div>

{% endblock %}