{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Driving in a clean air zone
        </h1>

        <p>Guidance</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="overview.html"> Clean Air Zones</a>
                </li>
                <li>
                    Exemptions
                </li>
                <li>
                    <a class="govuk-link" href="types.html">
                        Types of clean air zones
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="standards.html">
                        Minimum emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="reduce.html">
                        Reducing your emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="contact.html">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <p>Services</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="check.html">
                        Check if you will be charged
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="pay.html">
                        Pay a charge for a single vehicle
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="accounts.html">
                        Accounts for multiple vehicles
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"> <br>
        <h2 class="govuk-heading-m">Exemptions</h2>
        <p>There are some national and local exemptions from the charge.</p>
        <p>You’re automatically entitled to a national exemption, and do not have to pay a charge, if you have a:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>vehicle that’s ultra low emission</li>
            <li>disabled passenger tax class vehicle</li>
            <li>military vehicle</li>
            <li>historic vehicle</li>
            <li>vehicle retrofitted with technology accredited by the <a href="https://energysavingtrust.org.uk/transport/freight-and-retrofit/clean-vehicle-retrofit-accreditation-scheme-cvras" target="_blank">Clean Vehicle Retrofit Accreditation Scheme (CVRAS)</a></li>
        </ul>

        <p>You can find out more about local exemptions from the local authority in the area you’re driving in.</p>

    </div>
    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality: clean air zone framework for England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Civil parking enforcement in England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            The Civil Enforcement of Parking Regulations (England)
                            General (Use of Approved Devices Amendment) Regulations 2015 (draft)
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Parking on private land
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>

</div>

{% endblock %}