{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Driving in a clean air zone
        </h1>

        <p>Guidance</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    Clean Air Zones
                </li>
                <li>
                    <a class="govuk-link" href="exemptions.html">
                        Exemptions
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="types.html">
                        Types of clean air zones
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="standards.html">
                        Minimum emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="reduce.html">
                        Reducing your emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="contact.html">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <p>Services</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="check.html">
                        Check if you will be charged
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="pay.html">
                        Pay a charge for a single vehicle
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="accounts.html">
                        Business account for multiple vehicles
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"> <br>
        <h2 class="govuk-heading-m">Clean air zones</h2>
        <p>To improve air quality, some local authorities are introducing <a
                href="https://www.gov.uk/government/publications/air-quality-clean-air-zone-framework-for-england"
                class="govuk-link">clean air zones</a> (CAZ). If your vehicle
            exceeds emission standards, you may have to pay a charge if you drive in a clean air zone.</p>

        <p>The first clean air zones will be launched in <a href="https://www.bathnes.gov.uk/bath-breathes-2021-overview">Bath</a>, <a href="https://www.birmingham.gov.uk/info/20076/pollution/1763/a_clean_air_zone_for_birmingham">Birmingham</a>, and <a href="https://www.leeds.gov.uk/business/environmental-health-for-business/air-quality">Leeds</a> in early 2021. More cities will implement clean air zones later in 2021 and 2022.</p>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">City</th>
                    <th scope="col" class="govuk-table__header">Type of clean air zone</th>
                    <th scope="col" class="govuk-table__header">Date</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Bath</td>
                    <td class="govuk-table__cell">Class C</td>
                    <td class="govuk-table__cell">Early 2021</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Birmingham</td>
                    <td class="govuk-table__cell">Class D</td>
                    <td class="govuk-table__cell">Early 2021</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Leeds</td>
                    <td class="govuk-table__cell">Class B</td>
                    <td class="govuk-table__cell">Early 2021</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">London</td>
                    <td class="govuk-table__cell"><a rel="external"
                            href="https://tfl.gov.uk/modes/driving/ultra-low-emission-zone" target="_blank"
                            class="govuk-link">Ultra Low Emission Zone</a> (ULEZ) – to be expanded to North and South
                        Circular roads</td>
                    <td class="govuk-table__cell">October 2021</td>
                </tr>
            </tbody>
        </table>
        <a href="exemptions.html" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                    viewBox="0 0 17 13">
                    <path
                        d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                    </path>
                </svg>
                <span class="gem-c-pagination__link-text">
                    Next
                </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Exemptions</span>
        </a>
    </div>

    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality: clean air zone framework for England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Civil parking enforcement in England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            The Civil Enforcement of Parking Regulations (England)
                            General (Use of Approved Devices Amendment) Regulations 2015 (draft)
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Parking on private land
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>

</div>

{% endblock %}