{% extends "layout.html" %}



{% block pageTitle %}
Drive in a Clean Air Zone
{% endblock %}


{% block beforeContent %}
 
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Drive in a Clean Air Zone - Check and pay for multiple vehicles
      </h1>

      <h2 class="govuk-heading-m">
        Business accounts for multiple vehicles
      </h2>

   <p>If you own or manage 2 or more vehicles, creating an account is the easiest way to check how much you will be charged.</p>
  <p> You will need to upload your vehicle number plates to this service. Your number plates will be used to determine whether your vehicles meet the emission standards in each zone. If they don't, you can check what your charges will be.</p>

  <p>Once your account is set up you can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>upload all your vehicle number plates by file (CSV) or add them one by one</li>
            <li>manage your vehicles - add and remove</li>
            <li>view what each vehicle will be charged in every Clean Air Zone</li>
        </ul>

        <p>To create an account you'll need:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>your company name</li>
            <li>an email address</li>
        </ul>
        <a href="start-accounts-3" role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
            data-module="govuk-button">
            Start
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>
      <p>Once payments are live, you will need to use this service to tell us when any of your vehicles drive into a Clean Air Zone, and make a payment for any charges.</p>

        

    </div>
  </div>
{% endblock %}
