{% extends "layout.html" %}



{% block pageTitle %}
Drive in a Clean Air Zone
{% endblock %}


{% block beforeContent %}
 
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
      Drive in a Clean Air Zone
      </h1>

  <p>When you need to pay Clean Air Zone charges:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Bath - 15 March 2021</li>
    <li>Birmingham - 1 June 2021</li>
  </ul>  

        <div class="govuk-inset-text">
          If you want to drive in London you should <a href="https://tfl.gov.uk/modes/driving/check-your-vehicle-35896">check if you need to pay to drive in the Ultra Low Emission Zone </a>on the Transport for London (TfL) website</p> 
        </div>

  <p>This service cannot check vehicles that are registered outside the UK.</p>
          
      <a href="start-accounts-march-2" role="button" draggable="false"
      class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
      data-module="govuk-button">
      Start
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
      </a>

        <h2 class="govuk-heading-m">
          Before you start
        </h2>
        <p>You’ll need the number plate (registration number) of the vehicle you want to drive.</p>
        
        <p><strong>Paying for a single vehicle</strong></p>
       <p>You’ll also need a credit or debit card. </p>

        <p><strong>Checking and paying for multiple vehicles</strong></p>
        <p>Businesses who want to check and pay for multiple vehicles will need:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an account - you can create one when you use this service</li>
          <li>your company name</li>
          <li>an email address</li>
          <li>a credit/debit card or bank details</li>
          <li>a spreadsheet (CSV) of the number plates (registration numbers) of the vehicles you want to check</li>
      </ul>  

      <p>All major credit and debit cards are accepted.</p>
      
      <h2 class="govuk-heading-m">
        Contact Clean Air Zone Support
      </h2>
      <p>You can contact Clean Air Zone support if you cannot use the online service or you need help.</p>

      <div class="govuk-inset-text">
      <p><strong>Clean Air Zone Support</strong> <br>
        <a href="https://contact.dvla.gov.uk/caz/">Online contact form</a> <br>
        Telephone: 0300 029 8888 <br>
        Monday to Friday, 8am to 4:30pm <br>
        <a class="govuk-link" href="#">Find out about call charges</a>
        </p>
      </div>

    </div>
  </div>
{% endblock %}
