{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Drive in a Clean Air Zone
        </h1>

        <p>Guidance</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="overview.html">Clean Air Zones</a>
                </li>
                <li>
                    <a class="govuk-link" href="exemptions.html">
                        Exemptions
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="types.html">
                        Types of Clean Air Zones
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="standards.html">
                        Minimum emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="reduce.html">
                        Reducing your emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="contact.html">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <p>What do you want to do?</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="check.html">
                        Check the charge for a single vehicle
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="pay.html">
                        Pay a charge for a single vehicle
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="accounts.html">
                        Check and pay the charge for multiple vehicles
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"> <br>
        <h2 class="govuk-heading-m">Check the charge for a single vehicle</h2>
        <p>You can check if you’ll need to pay a charge before you drive in a Clean Air Zone.</p>
        <p>You’ll need:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the number plate of the vehicle</li>
            <li>to know which Clean Air Zone you’re driving the vehicle in</li>
        </ul>
        <a href="/vccs/enter-vehicle-details" role="button" draggable="false"
            class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start"
            data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
        </a>

        <a href="contact.html" class="gem-c-pagination__link" rel="prev">
            <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                    viewBox="0 0 17 13">
                    <path
                        d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                    </path>
                </svg>
                <span class="gem-c-pagination__link-text">
                    Previous
                </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Contact us</span>
        </a>
        <a href="pay.html" class="gem-c-pagination__link" rel="next">
            <span class="gem-c-pagination__link-title">
                <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17"
                    viewBox="0 0 17 13">
                    <path
                        d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                    </path>
                </svg>
                <span class="gem-c-pagination__link-text">
                    Next
                </span>
            </span>
            <span class="gem-c-pagination__link-divider visually-hidden">:</span>
            <span class="gem-c-pagination__link-label">Pay a charge for a single vehicle</span>
        </a>

    </div>
    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality: clean air zone framework for England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Civil parking enforcement in England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            The Civil Enforcement of Parking Regulations (England)
                            General (Use of Approved Devices Amendment) Regulations 2015 (draft)
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Parking on private land
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>

</div>

{% endblock %}