{% extends "layout_offline_payments.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">How many days do you want to pay for?</h1>
        <div class="govuk-inset-text">
            Taxis and private hire vehicles licensed by Leeds City Council can pay a reduced charge of £50 a week.
        </div>
        <form method="post" class="form" action="/offline-payments/charge-period-route">
            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="cazHint">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="period-1" name="period" type="radio"
                                    value="daily">
                                <label class="govuk-label govuk-radios__label" for="period-1">
                                    Pay for 1 day (£12.50)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="period-2" name="period" type="radio"
                                    value="weekly">
                                <label class="govuk-label govuk-radios__label" for="period-2">
                                    Pay for 7 days (£50.00)
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <br>
                <br>
                <button type="submit" class="govuk-button">
                    Continue
                </button>
        </form>

    </div>
</div>

{% endblock %}