{% extends "layout_offline_payments.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">There is no charge for this vehicle in Birmingham</h1>

        <p>It may still be charged in other Clean Air Zones.</p>

        <form method="post" class="form" action="/offline-payments/add-another-vehicle-question">
            <button type="submit" class="govuk-button">
                Continue
            </button>
            {% if data['vrn']!= CAS400 %}
                <p><a href="add-another-vehicle-question.html">Cancel</a></p>
                {% endif %}
        </form>

    </div>
</div>

{% endblock %}