{% extends "layout_offline_payments.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        We do not hold details for this vehicle
      </h1>
      <p>You can find out if your vehicle will be charged in Birmingham by checking it’s clean air standards against your vehicle registration information.</p>
      <p>If your vehicle does not meet the standards, you will have to pay the Clean Air Zone charge.</p>
      <p>You must make a payment a maximum of 7 days after you have driven in the zone or you may receive a penalty charge notice (PCN).</p>

      <p>Can you confirm that the number plate <strong>{{ data['vrn'] }}</strong> is correct.</p>

      <form method="post" class="form" action="/offline-payments/vehicle-type">
          <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="confirm-hint">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="confirm-1" name="confirm" type="checkbox" value="correct-details">
                <label class="govuk-label govuk-checkboxes__label" for="confirm-1">
                 The number plate is correct.
                </label>
              </div>
            </div>
          </fieldset>
        </div> 
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>   

    </div>
</div>

{% endblock %}
