{% extends "layout_offline_payments.html" %}


{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Drive in a Clean Air Zone contact centre</h1>
        <p>Choose an option</p>
    </div>
</div>
<div class="govuk-grid-row">
    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a href="">Vehicle search</a></strong></p>
        <p class="govuk-body">Search DVLA records for information about a vehicle</p>
    </article>

    <article class="dashboard-total-group govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-9"><strong><a href="">Make a payment</a></strong></p>
        <p class="govuk-body">Make a payment on behalf of someone on the telephone</p>
    </article>

</div>

{% endblock %}