{% extends "layout_offline_payments.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Which days do you want to pay for {{ data['vrn'] }}?</h1>

        <form method="post" class="form" action="/offline-payments/check-your-answers">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-checkboxes" required="required">
                            <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="date-13" name="date" type="checkbox" value="{{today | date('subtract', 6, 'days')}}">
                                    <label class="govuk-label govuk-checkboxes__label" for="date-13">
                                        {{today | date("subtract", 6, "days") | date("dddd D MMMM YYYY") }}
                                    </label>
                                </div>
                            <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="date-12" name="date" type="checkbox" value="{{today | date('subtract', 5, 'days')}}">
                                    <label class="govuk-label govuk-checkboxes__label" for="date-12">
                                        {{today | date("subtract", 5, "days") | date("dddd D MMMM YYYY") }}
                                    </label>
                                </div>
                            <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="date-11" name="date" type="checkbox" value="{{today | date('subtract', 4, 'days')}}">
                                    <label class="govuk-label govuk-checkboxes__label" for="date-11">
                                        {{today | date("subtract", 4, "days") | date("dddd D MMMM YYYY") }}
                                    </label>
                                </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-10" name="date" type="checkbox" value="{{today | date('subtract', 3, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-10">
                                {{today | date("subtract", 3, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-9" name="date" type="checkbox" value="{{today | date('subtract', 2, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-9">
                                {{today | date("subtract", 2, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-1" name="date" type="checkbox" value="{{today | date('subtract', 1, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-1">
                                {{today | date("subtract", 1, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-2" name="date" type="checkbox" value="{{today}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-2">
                                <b>{{today | date("dddd D MMMM YYYY")}}</b> (Today)
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-3" name="date" type="checkbox" value="{{today | date('add', 1, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-3">
                                {{today | date("add", 1, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-4" name="date" type="checkbox" value="{{today | date('add', 2, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-4">
                                {{today | date("add", 2, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-5" name="date" type="checkbox" value="{{today | date('add', 3, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-5">
                                {{today | date("add", 3, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-6" name="date" type="checkbox" value="{{today | date('add', 4, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-6">
                                {{today | date("add", 4, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-7" name="date" type="checkbox" value="{{today | date('add', 5, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-7">
                                {{today | date("add", 5, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="date-8" name="date" type="checkbox" value="{{today | date('add', 6, 'days')}}">
                            <label class="govuk-label govuk-checkboxes__label" for="date-8">
                                {{today | date("add", 6, "days") | date("dddd D MMMM YYYY") }}
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
            {% if data['vrn']!= 'CAS400' and data['vrn'] != null %}
                <p><a href="add-another-vehicle-question.html">Cancel</a></p>
                {% endif %}
        </form>
    </div>
</div>

{% endblock %}