{% extends "layout_offline_payments.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What is the number plate?</h1>
      <form method="POST" class="form" action="/offline-payments/enter-vehicle-details-route">
        <div class="govuk-form-group">
          <span id="vrn-hint" class="govuk-hint">
            For example, CU57ABC
          </span>
          <input class="govuk-input govuk-input--width-10" id="vrn" name="vrn" type="text">
        </div>

        <div class="govuk-form-group">
          <div class="govuk-radios--inline">
            <h2 class="govuk-heading-m" for="country-of-registration">
                Is the vehicle registered in the UK or outside the UK?
            </h2>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="country-of-registration" name="country-of-registration" type="radio" value="uk">
            <label class="govuk-label govuk-radios__label" for="country-of-registration">
              UK
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="country-of-registration" name="country-of-registration" type="radio" value="non-uk">
            <label class="govuk-label govuk-radios__label" for="country-of-registration-2">
              Non-UK
            </label>
          </div>
        </div></div>
        
        
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>

    </div>
</div>

{% endblock %}
