{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Choose your dates</h1>
        <p>A weekly charge allows you to drive in Leeds for 7 consecutive days.</p>
        <p>A daily charge period runs from midnight to midnight.</p>
        <form method="post" class="form" action="/offline-payments/check-your-answers">
            <div class="govuk-form-group">
                    <div class="govuk-form-group">
                        <h2 class="govuk-heading-m">Week selection</h2>
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-radios" required="required">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-1" name="date" type="radio"
                                            value="{{today | date('subtract', 6, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-1">
                                            {{today | date("subtract", 6, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 0, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-2" name="date" type="radio"
                                            value="{{today | date('subtract', 5, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-2">
                                            {{today | date("subtract", 5, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 1, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-3" name="date" type="radio"
                                            value="{{today | date('subtract', 4, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-3">
                                            {{today | date("subtract", 4, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 2, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-4" name="date" type="radio"
                                            value="{{today | date('subtract', 3, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-4">
                                            {{today | date("subtract", 3, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 3, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-5" name="date" type="radio"
                                            value="{{today | date('subtract', 2, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-5">
                                            {{today | date("subtract", 2, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 4, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-6" name="date" type="radio"
                                            value="{{today | date('subtract', 1, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-6">
                                            {{today | date("subtract", 1, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 5, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-7" name="date" type="radio"
                                            value="{{today}}">
                                        <label class="govuk-label govuk-radios__label" for="date-7">
                                            <b>{{today | date("ddd DD MMM YYYY")}}</b> (Today) to
                                            {{today | date("add", 6, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-8" name="date" type="radio"
                                            value="{{today | date('add', 1, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-8">
                                            {{today | date("add", 1, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 7, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-9" name="date" type="radio"
                                            value="{{today | date('add', 2, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-9">
                                            {{today | date("add", 2, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 8, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-10" name="date" type="radio"
                                            value="{{today | date('add', 3, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-10">
                                            {{today | date("add", 3, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 9, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-11" name="date" type="radio"
                                            value="{{today | date('add', 4, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-11">
                                            {{today | date("add", 4, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 10, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-12" name="date" type="radio"
                                            value="{{today | date('add', 5, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-12">
                                            {{today | date("add", 5, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 11, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="date-13" name="date" type="radio"
                                            value="{{today | date('add', 6, 'days')}}">
                                        <label class="govuk-label govuk-radios__label" for="date-13">
                                            {{today | date("add", 6, "days") | date("ddd DD MMM YYYY") }} to
                                            {{today | date("add", 12, "days") | date("ddd DD MMM YYYY") }}
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                </div>
        </form>
    </div>
</div>

{% endblock %}