{% extends "layout_account.html" %}


{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="/add-vehicle-choice" method="post" novalidate>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                          What would you would like to do?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-choice-2" name="add-choice" type="radio"
                                value="manual">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="add-choice-2">
                                Add single vehicle
                            </label>
                            <span id="add-choice-2" class="govuk-hint govuk-radios__hint">
                                Enter your vehicles one by one.
                            </span>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-choice" name="add-choice" type="radio"
                                value="upload">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="add-choice">
                               Add or remove multiple vehicles 
                            </label>
                            <span id="add-choice" class="govuk-hint govuk-radios__hint">
                                Replace your vehicle list with a new CSV upload
                            </span>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-choice-2" name="add-choice" type="radio"
                                value="manual">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="add-choice-2">
                                Remove vehicles
                            </label>
                            <span id="add-choice-2" class="govuk-hint govuk-radios__hint">
                                Remove your vehicles one by one.
                            </span>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-choice-2" name="add-choice" type="radio"
                                value="manual">
                            <label class="govuk-label govuk-radios__label govuk-label--s" for="add-choice-2">
                                Group vehicles
                            </label>
                            <span id="add-choice-2" class="govuk-hint govuk-radios__hint">
                                Create smaller lists of your vehicles to allow you to pay for a smaller selection of vehicles.
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
{% endblock %}