{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Driving in a clean air zone
        </h1>

        <p>Guidance</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="overview.html"> Clean Air Zones</a>
                </li>
                <li>
                    <a class="govuk-link" href="exemptions.html">
                        Exemptions
                    </a>
                </li>
                <li>
                    Types of clean air zones
                </li>
                <li>
                    <a class="govuk-link" href="standards.html">
                        Minimum emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="reduce.html">
                        Reducing your emission standards
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="contact.html">
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <p>Services</p>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16 govuk-list--bullet">
                <li>
                    <a class="govuk-link" href="check.html">
                        Check if you will be charged
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="pay.html">
                        Pay a charge for a single vehicle
                    </a>
                </li>
                <li>
                    <a class="govuk-link" href="accounts.html">
                        Accounts for multiple vehicles
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible"> <br>
        <h2 class="govuk-heading-m">Types of clean air zone</h2>
        <p>There are four types of clean air zones, Class A to D.</p>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Class</th>
                    <th scope="col" class="govuk-table__header">Vehicle type</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">A</td>
                    <td class="govuk-table__cell">Buses, coaches, taxis, private hire vehicles</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">B</td>
                    <td class="govuk-table__cell">Buses, coaches, taxis, private hire vehicles, heavy goods vehicles</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">C</td>
                    <td class="govuk-table__cell">Buses, coaches, taxis, private hire vehicles, heavy goods vehicles, vans, minibuses</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">D</td>
                    <td class="govuk-table__cell">Buses, coaches, taxis, private hire vehicles, heavy goods vehicles, vans, minibuses, cars, the local authority has the option to include motorcycles</td>
                  </tr>
                </tbody>
              </table>

    </div>
    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality: clean air zone framework for England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Civil parking enforcement in England
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Air quality
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            The Civil Enforcement of Parking Regulations (England)
                            General (Use of Approved Devices Amendment) Regulations 2015 (draft)
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="#">
                            Parking on private land
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

    </div>

</div>

{% endblock %}