{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Update your password</h1>

        <form method="POST" class="form" action="email-sent">
            <div class="govuk-form-group">
                <label class="govuk-label" for="password">
                    Enter your old password
                </label>
                <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password"
                    aria-describedby="password-hint">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="confirm-password">
                    Enter your new password
                </label>
                <span id="passport-issued-hint" class="govuk-hint">
                    Must be at least 8 characters long, include at least one upper case letter and a number
                  </span>
                <input class="govuk-input govuk-input--width-20" id="confirm-password" name="confirm-password"
                    type="password" aria-describedby="password-hint">
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="confirm-password">
                    Confirm your new password
                </label>
                <input class="govuk-input govuk-input--width-20" id="confirm-password" name="confirm-password"
                    type="password" aria-describedby="password-hint">
            </div>


            <button type="submit" class="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}