{% extends "layout_account.html" %}


{% block pageTitle %}
Drive in a Clean Air Zone
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Closing an account</h1>
        <p>You should only close the account if you are sure the company will no longer need it. You and any team members who help manage the account will no longer be able to sign in.</p>
        
        <div class="govuk-inset-text">
          If you are closing the account because none of the vehicles received a charge, be aware they could be charged in upcoming zones.
        </div>

        <p>Before you go remember to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>download <a href="/fleets/single-user/history-filter">payment history</a></li>
          <li>cancel any payment agreements with your bank that have been set up for Clean Air Zone charges</li>
          <li>read our <a href="">Privacy Notice</a> to see what we do with your data</li>
        </ul>
        <br>

        <form method="POST" class="form" action="/fleets/single-user/update-account-information/why-close">
        <div class="govuk-form-group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Do you want to close the account?
            </h2>
          </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                  No
                </label>
              </div>
            </div>          </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          <p><a href="my-account">Exit without closing</a></p></form>

        
       
    </div>



</div>

{% endblock %}