{% extends "layout_account.html" %}


{% block pageTitle %}
Drive in a Clean Air Zone
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Account details</h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value">
                    Carl Glasser
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="update-name">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Email address
                </dt>
                <dd class="govuk-summary-list__value">
                    carl.glasser@defra.gov.uk
                </dd>
                <dd class="govuk-summary-list__actions">
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Password
                </dt>
                <dd class="govuk-summary-list__value">
                    ***********
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="update-password">
                        Change<span class="govuk-visually-hidden"> contact information</span>
                    </a>
                </dd>
            </div>
        </dl>
        <form method="post" class="form" action="/fleets/single-user/update-account-information/close-account">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Close account
          </button>
          </form>
    </div>



</div>

{% endblock %}