{% extends "layout_account.html" %}


{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Update name</h1>
        <form method="POST" class="form" action="/fleets/single-user/update-account-information/my-account-name-update">
        <div class="govuk-form-group">
            <label class="govuk-label" for="width-20">
              Name
            </label>
            <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text" value="Carl Glasser">
          </div>
          <button class="govuk-button" data-module="govuk-button">
            Save changes
          </button>
          <p><a href="my-account">Exit without saving</a></p></form>

        
       
    </div>



</div>

{% endblock %}