{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Mick's Motors payment history</h1>

       <p>View payments made by you and your team members.</p>

       <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Date of payment</th>
            <th scope="col" class="govuk-table__header">Payment made by</th>
            <th scope="col" class="govuk-table__header">Clean Air Zone</th>
            <th scope="col" class="govuk-table__header">Entries paid for</th>
            <th scope="col" class="govuk-table__header">Amount paid</th>
            <th scope="col" class="govuk-table__header">Charge details</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">17/01/2020</th>
            <td class="govuk-table__cell">Administrator</td>
            <td class="govuk-table__cell">Birmingham</td>
            <td class="govuk-table__cell">13</td>
            <td class="govuk-table__cell">£230</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
            
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">13/01/2020</th>
            <td class="govuk-table__cell">Chris Marsh</td>
            <td class="govuk-table__cell">Leeds</td>
            <td class="govuk-table__cell">15</td>
            <td class="govuk-table__cell">£325</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">05/01/2020</th>
            <td class="govuk-table__cell">Chris Marsh</td>
            <td class="govuk-table__cell">Birmingham</td>
            <td class="govuk-table__cell">20</td>
            <td class="govuk-table__cell">£638</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">29/12/2019</th>
            <td class="govuk-table__cell">Charles Henry</td>
            <td class="govuk-table__cell">Birmingham</td>
            <td class="govuk-table__cell">40</td>
            <td class="govuk-table__cell">£1300</td>
            <td class="govuk-table__cell"><a href="details1">View details</a></td>
          </tr>
        </tbody>
      </table>


    </div>
</div>

{% endblock %}
