{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You cannot create an account</h1>
   
    <p>Clean Air Zone business accounts are only for people who own or manage multiple vehicles.</p>

    <p>If you would like to pay for one vehicle, use the <a href="https://st.paycleanairzonecharge.co.uk/">Pay A Clean Air Zone Charge</a> service.</p>

  </div>
</div>

{% endblock %}