{% extends "layout_account.html" %}


{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Manage your account administrators</h1>
        {% if users %}
        <table class="govuk-table">
            <caption class="govuk-table__caption">Administrators</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Email address</th>
                    <th class="govuk-table__header" scope="col"></th>
            </thead>
            <tbody class="govuk-table__body">
                {% for user in users %}
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" scope="row">{{user.name}}</td>
                    <td class="govuk-table__cell" scope="row">{{user.email}}</td>
                    <td class="govuk-table__cell" scope="row"><a href="">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <form method="post" class="form" action="/fleets/organisation-account/add-user">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="add-user-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Do you need to add a fleet administrator?
                    </legend>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-user" name="add-user" type="radio"
                                value="yes">
                            <label class="govuk-label govuk-radios__label" for="add-user">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-user-2" name="add-user" type="radio"
                                value="no">
                            <label class="govuk-label govuk-radios__label" for="add-user-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">Continue</button>
        </form>
        <p><a href="/fleets/single-user/email-invite">For demonstration purposes</a></p>
    </div>



</div>

{% endblock %}