{% extends "layout_account-no-nav.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Drive in a Clean Air Zone
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="POST" class="form" action="/fleets/organisation-account/vehicle-amount-route">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            How many vehicles do you manage or own?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="vehicle-amount" name="vehicle-amount"
                                type="radio" value="one">
                            <label class="govuk-label govuk-radios__label" for="vehicle-amount">
                                Less than two
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="vehicle-amount-2" name="vehicle-amount"
                                type="radio" value="two">
                            <label class="govuk-label govuk-radios__label" for="vehicle-amount-2">
                                Two or more
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}