{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Which days are you paying for?</h1>
      <p>A daily charge runs from midnight to midnight.</p>
      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why can't I select my date?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>If the date you want to pay for is not selectable, it may be because:</p>
            <li>The 7 day period you had to pay has ended.<br>You may be subject to a penalty charge notice (PCN).
            </li><br>

            <li>The date is too far in the future.<br>You should check back here closer to the date you want.</li>
        </div>
        </details>
      <form method="post" class="form" action="/payments/confirm-charge-week-today">  
        <div class="govuk-form-group" id="dates">
          <label class="govuk-label" for="start-date">
              <b>Start date</b><span style="margin-left: 155px; font-weight: bold;">End date</span>
          </label>
          <span id="start-date-hint" class="govuk-hint">
            For example, 25/05/2019<span style="margin-left: 30px;">For example, 27/05/2019</span>
          </span>
          <input class="govuk-input govuk-input--width-10" style="margin-right: 20px;" id="start-date" name="start-date" type="text">
          <input class="govuk-input govuk-input--width-10" id="end-date" name="end-date" type="text">
        </div>
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>
    </div>
</div>

<script src="/public/javascripts/moment.min.js"></script>
<script src="/public/javascripts/lightpick.js"></script>

<script>
var picker = new Lightpick({
  field: document.getElementById('start-date'),
  secondField: document.getElementById('end-date'),
  singleDate: false,
  numberOfMonths: 2,
  maxDays: 7,
  minDays:7,
  minDate: moment(new Date()).subtract(6, 'days'),
  maxDate: moment(new Date()).add(13, 'days'),
  onSelect: function(start, end){
      document.getElementById('start-date').innerHTML = start;
      document.getElementById('end-date').innerHTML = end;
  }
});

</script>

{% endblock %}
