{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Which days are you paying for?</h1>
      <p>A daily charge runs from midnight to midnight.</p>
      <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Why can't I select my date?
            </span>
          </summary>
          <div class="govuk-details__text">
              You can't pay any earlier than 7 days ahead.<br><br>You have to pay by midnight the day after you drive through a zone. If you are trying to make a payment later than this, you will need to wait for a penalty charge notice to arrive by post. This will be sent to the address the DVLA holds for the vehicle owner.
          </div>
        </details>
      <form method="post" class="form" action="/payments/selected-date">  
        <div class="govuk-form-group" id="dates">
          <label class="govuk-label" for="start-date">
              <b>Start date</b><span style="margin-left: 155px; font-weight: bold;">End date</span>
          </label>
          <span id="start-date-hint" class="govuk-hint">
            For example, 25/05/2019<span style="margin-left: 30px;">For example, 27/05/2019</span>
          </span>
          <input class="govuk-input govuk-input--width-10" style="margin-right: 20px;" id="start-date" name="start-date" type="text">
          <input class="govuk-input govuk-input--width-10" id="end-date" name="end-date" type="text">
        </div>
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>
    </div>
</div>

<script src="/public/javascripts/moment.min.js"></script>
<script src="/public/javascripts/lightpick.js"></script>

<script>
var picker = new Lightpick({
  field: document.getElementById('start-date'),
  secondField: document.getElementById('end-date'),
  singleDate: false,
  maxDays: 33,
  minDate: moment(new Date()).subtract(1, 'days'),
  maxDate: moment(new Date()).add(30, 'days'),
  onSelect: function(start, end){
      document.getElementById('start-date').innerHTML = start;
      document.getElementById('end-date').innerHTML = end;
  }
});

</script>

{% endblock %}
