{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
    Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Pay a weekly Leeds Clean Air Zone  charge</h1>
        <p>The weekly charge for your vehicle is:</p>
        <h2 class="govuk-heading-m">£50.00</h2>
        <p>You only need to pay the charge once for the 7 days.</p>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You have up to 7 days to pay the charge after your last day driving in the zone, or you will pay a penalty charge notice (PCN).
            </strong>
        </div>
        <form method="post" class="form" action="/payments/select-date-weekly">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <div class="govuk-checkboxes" required>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-1" name="waste" type="checkbox" value="correct-details" required>
                  <label class="govuk-label govuk-checkboxes__label" for="waste-1">
                        I confirm I am not exempt from paying the Leeds Clean Air Zone charge.
                        (Find out who is exempt from <a href="https://www.leeds.gov.uk/business/environmental-health-for-business/air-quality/exempt-vehicles-clean-air-charging-zone" target="_blank">paying the charge in Leeds</a>).
                  </label>
                </div>
              </div>
            </fieldset>
          </div> 
        
            <button type="submit" class="govuk-button">
                Continue
            </button>
            <input type="hidden" value="leeds-weekly" name="caz">
        </form>
        <p><a href="https://www.leeds.gov.uk/business/environmental-health-for-business/air-quality" target="_blank">Get support to upgrade or replace your vehicle</a></p>
    </div>

</div>

{% endblock %}
