{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Choose your dates</h1>
        <p>A weekly charge allows you to drive in Leeds for 7 consecutive days.</p>
        <p>A daily charge period runs from midnight to midnight.</p>
        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Why can't I see my dates?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>If the date you want to pay for is not displayed, it may be because:</p>
                <li>The 7 day period you had to pay has ended.<br>You may be subject to a penalty charge notice (PCN).
                </li><br>

                <li>The date is too far in the future.<br>You should check back here closer to the date you want.</li>
            </div>
        </details>
        <form method="post" class="form" action="/payments/confirm-charge-2-weeks">
            <div class="govuk-form-group">
                    <div class="govuk-form-group">
                        <h2 class="govuk-heading-m">Week selection 2</h2>
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-radios" required="required">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-12" name="date2" type="radio"
                                        value="{{today | date('add', 5, 'days')}}">
                                    <label class="govuk-label govuk-radios__label" for="date-12">
                                        {{today | date("add", 5, "days") | date("ddd DD MMM YYYY") }} to
                                        {{today | date("add", 11, "days") | date("ddd DD MMM YYYY") }}
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="date-13" name="date2" type="radio"
                                        value="{{today | date('add', 6, 'days')}}">
                                    <label class="govuk-label govuk-radios__label" for="date-13">
                                        {{today | date("add", 6, "days") | date("ddd DD MMM YYYY") }} to
                                        {{today | date("add", 12, "days") | date("ddd DD MMM YYYY") }}
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <br>

                    </div>
                    <button type="submit" class="govuk-button">
                        Continue
                    </button>
                    <p><a href="/payments/select-period">Pay for 1 day instead</a></p>
                </div>
        </form>
    </div>
</div>

{% endblock %}