{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
            
        <nav class="moj-side-navigation" aria-label="Side navigation">
          <ul class="moj-side-navigation__list">
            <li class="moj-side-navigation__item moj-side-navigation__item--active">
              <a href="homepage.html" aria-current="location">Upload</a>
            </li>
        
            <li class="moj-side-navigation__item">
              <a href="search.html">Search for a vehicle</a>
            </li>
        
            <li class="moj-side-navigation__item">
              <a href="add.html">Add a vehicle</a>
            </li>

            <li class="moj-side-navigation__item">
                <a href="remove.html">Remove a vehicle</a>
              </li>
          </ul>
        </nav>
        
        </div>
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Whitelisted vehicle register</h1>

        <p>Use this service to manage vehicles that are on the whitelisted vehicle register. Vehicles on the register
            are exempt from charges in Clean Air Zones.</p>

        <!-- <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="homepage.html">Upload</a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="search.html">Search for a vehicle</a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="add.html">Add a vehicle</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="remove.html">Remove a vehicle</a>
                </li>
            </ul>

        </nav> -->


            
            


        <h2 class="govuk-heading-m">Uploading your whitelist data</h2>
        <p><strong>Before you start</strong></p>
        <p>Your vehicle data should be in a .CSV file in a valid format, see <a href="#">data rules</a>. If your data is
            not in the correct format, you will get errors and be unable to upload vehicle details.</p>

        <div class="govuk-form-group">
            <input class="govuk-file-upload govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file"
                aria-describedby="file-upload-1">
        </div>

        <button type="submit" class="govuk-button" name="registered" value="true">
            Upload
        </button>

        </form>
    </div>
</div>
{% endblock %}