{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data['vrn-remove']=='CAS300' %}
        <div class="moj-banner moj-banner--warning">

            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M13.6,15.4h-2.3v-4.5h2.3V15.4z M13.6,19.8h-2.3v-2.2h2.3V19.8z M0,23.2h25L12.5,2L0,23.2z" />
                </svg>

            <div class="moj-banner__message">
                <span class="moj-banner__assistive">Warning</span>Unable to remove '{{data['vrn-remove']}}', the
                registration does not exist on the whitelist.</div>

        </div>

        {% else %}
        <div class="moj-banner moj-banner--success">

            <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z" /></svg>

            <div class="moj-banner__message">
                <span class="moj-banner__assistive">Success</span>You have successfully removed '{{data['vrn-remove']}}'
                from the whitelist.</div>
            

        </div>
        {% endif %}
        <h1 class="govuk-heading-l">Whitelisted vehicle register</h1>

        <p>Use this service to manage vehicles that are on the whitelisted vehicle register. Vehicles on the register
            are exempt from charges in Clean Air Zones.</p>

        <nav class="moj-sub-navigation" aria-label="Sub navigation">

            <ul class="moj-sub-navigation__list">
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="homepage.html">Upload</a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="search.html">Search for a vehicle</a>
                </li>

                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" href="add.html">Add a vehicle</a>
                </li>
                <li class="moj-sub-navigation__item">
                    <a class="moj-sub-navigation__link" aria-current="page" href="remove.html">Remove a vehicle</a>
                </li>
            </ul>

        </nav>
        <form method="post" class="form" action="confirm-remove">
            <h2 class="govuk-heading-m">Remove a vehicle</h2>
            <div class="govuk-form-group">
                <label class="govuk-label" for="vrn-remove">
                    Number plate
                </label>
                <input class="govuk-input govuk-input--width-20" id="vrn-remove" name="vrn-remove" type="text">
            </div>


            <button type="submit" class="govuk-button" name="registered" value="true">
                Remove
            </button>

        </form>
    </div>
</div>
{% endblock %}