
{% extends "layout.html" %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:history.back()",
text: "Back"
}) }}
{% endblock %}

{% block pageTitle %}
  Pay a Clean Air Zone charge
{% endblock %}

{% block content %}   

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Sign In</h1>
      <form method="POST" class="form" action="/offline-payments/dashboard">
        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="username"><b>Username</b></label>
            <input class="govuk-input" id="username" name="username" type="text" style="width: 60%;" spellcheck="false">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="password"><b>Password</b></label>
          <input class="govuk-input" id="password" name="password" type="password" style="width: 60%;" spellcheck="false">
      </div>  
        </div>

        <br>

        <p><a href="">Forgotten your password?</a></p>
        
        <button type="submit" class="govuk-button">
            Continue
        </button>
      </form>

    </div>
</div>

{% endblock %}