{% extends "layout.html" %}

{% block pageTitle %}
Pay a Clean Air Zone charge
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Results for CAS301</h1>
        <p>The following details were found relating to your search</p>
        <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row"></td>
                <td class="govuk-table__cell"></td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Taxi or PHV</td>
                <th class="govuk-table__cell">Yes</td>
              </tr>
              <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">Wheelchair accessible</td>
                  <th class="govuk-table__cell">No</td>
                </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">Licensing authorities</td>
                <th class="govuk-table__cell">Leeds</td>
              </tr>
            </tbody>
          </table>
          <p><a href="ntr-search.html">Search for another vehicle</a></p>

        
    </div>
</div>
{% endblock %}