{% extends "layout_ntr_unavailable.html" %}

{% block pageTitle %}
Service unavailable
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
        <p class="govuk-body">
          The service is unavailable due to planned maintenance. You will be able to use the service from 9am on Wednesday 5 August 2020
        </p>
        <p class="govuk-body">
            Email <a class="govuk-link" href="mailto:TaxiandPHVCentralised.Database@defra.gov.uk">TaxiandPHVCentralised.Database@defra.gov.uk</a> if you have any queries.
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}